.charts-container {
  display: grid;
  width: 100vw;
  grid-template-areas:
    "2fr 1fr"
    "2fr 1fr";
  // box-sizing: border-box;
}

// .chartWrapper {
//   position: relative;
//  }

.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  // width: 100%;
}

.chartAreaWrapper {
  width: 60vw;
  overflow-x: scroll;
}

.line-chart {
  width: 80vw;
  height: 40vh;
  > canvas {
    cursor: crosshair;
  }
}
