@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100vh;
  margin: 0;
}

.fullapp {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

// .sidebar {
//   float: left;
//   height: 100vh;
// }

// .content {
//   float: right;
//   height: 100%;
// }
